<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
    {% load static %}

<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="max-w-md w-full bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-xl font-semibold mb-4 text-center">Create post</h2>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <!-- Bio / Caption -->
      {{ form.profile_bio.label_tag }}
      {{ form.profile_bio }}
      <br><br>

      <!-- Image Upload -->
      {{ form.profile_image.label_tag }}
      {{ form.profile_image }}
      <br><br>

      <button
        type="submit"
        class="w-full bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
      >
        Upload
      </button>
    </form>
  </div>
</div>


</body>
</html>