<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    
  </head>
  <body>
    <!-- navigation -->
<nav>
     <div class="flex item-center justify-between border border-gray-300 px-6 py-4">
      <!-- left part -->
      <div class="flex gap-4">
        <img src="" class="h-9 w-9 rounded-full border border-gray-300 object-cover" alt="logo">
        <!-- search button -->
        <button class="px-4 py-2 w-60 text-sm font-medium border border-gray-300 rounded-4xl hover:bg-black/10 transition" type="button">Search here</button>
      </div>
      <div class="nav-mid">
        <ul class="flex gap-10 text-md font-medium">
          <li><a href="" class="p-3 hover:text-blue-600 transition">Home</a></li>
          <li><a href="" class="p-3 hover:text-blue-600 transition">Friends</a></li>
          <li><a href="" class="p-3 hover:text-blue-600 transition">Marketplace</a></li>
          <li><a href="" class="p-3 hover:text-blue-600 transition">Gaming</a></li>
        </ul>
      </div>
      <div class="nav-right">
        <img src="" class="h-9 w-9 rounded-full border border-gray-300 object-cover" alt="profile">
      </div>
     </div>
</nav>

<section>
  <div class="mt-10 mx-auto w-full max-w-3xl p-4 rounded-lg 
            bg-white border border-gray-200 shadow-md">
    <div class="flex items-center gap-4">
      <img src="" class="h-10 w-10 rounded-full object-cover hover:bg-gray-100 transition" alt="profile">
      <button class="px-4 py-2 w-full text-sm font-medium border border-gray-300 rounded-full text-left hover:bg-gray-100 transition">Whats on your mind, username?</button>
    </div>
  </div>
</section>
  </body>
</html>