{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center underline-success">signup here</h2>
 <form action="/signup/" method="POST">
  {% csrf_token %}
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="example@gmail.com" required>
    
  </div>
  <div class="mb-3">
    <label for="pass1" class="form-label">Password</label>
    <input type="password" class="form-control" name="pass1" id="pass1" required>
  </div>
  <div class="mb-3">
    <label for="pass2" class="form-label"> confirm Password</label>
    <input type="password" class="form-control" name="pass2" id="pass2" required>
  </div>
  
 
  <button type="submit" class="btn btn-primary m-2 px-2">Sign in</button>
  <br/>
  
  <div class="mb-3">
    Already user?<a href="/login" class="mx-2 text-black" >Login<a/>
    
    
  </div>
</form>
</div>

{% endblock content %}